body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    flex: 1;
    padding: 20px 240px 130px 240px;
}

a {
    text-decoration: none;
    color: white;
  }



/* Header section */

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 80px 0;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 25px;
    align-items: center;
}


.headertext {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.hero-head {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-one {
    display: flex;
    flex-direction: column;
    width: 520px;
}

.hero-text {
    color: #E5E7EB;
}

.button-size {
    width: 125px;
    height: 35px;
    border-radius: 8px;
    border: 0;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: grey;
    height: 220px;
    width: 520px;
    flex-shrink: 0;
}



/* Information section */

.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 50px 0;
}

.pic-div {
    display: flex;
    gap: 80px;
    padding-bottom: 100px;
}

.pic1 {
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 170px;
}


.pics {
    height: 170px;
    width: 170px;
    flex-shrink: 0;
    border-radius: 18px;
    border: 4px solid #3882F6;
}

.pictext {
    padding: 4px;
    font-size: 18px;
}



/* Quote Section */

.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 150px 0;
}

.quote {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotetext {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-size: 28px;
    font-weight: 600;
    align-self: flex-end;
}



/* Third (blue box) section */

.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
}

.bluebox {
    display: flex;
    align-items: center;
    background-color: #3882F6;
    min-width: 800px;
    padding: 60px;
    border-radius: 8px;
    justify-content: space-around;
}

h1.bluebox-header {
    font-size: 26px;
    font-weight: 600;
    color: #F9FAF8;
    padding: 0;
    margin: 0 0 6px 0;

}

.bluebox-text {
    font-size: 18px;
    font-weight: 400;
    color: #F9FAF8;
    margin: 0;
}

.bluebox-button {
    border: 2px solid #F9FAF8;
}